@using System.Globalization
@using Olimp.Data
@model Olimp?
@{
    ViewData["Title"] = "Olimp";
    var participants = Model?.Steps
        .SelectMany(step => step.Results)
        .GroupBy(result => result.Participant)
        .OrderBy(results => results.Key.Number);

    var participantResultsCollection = new ParticipantResultsCollection(participants ?? (IEnumerable<IGrouping<Participant, Result>>)Array.Empty<IGrouping<Participant, Result>>());
}

<div class="text-center">
    @if (Model is null)
    {
        <h4>Олимпиады еще не проводились</h4>
    }

    @if (Model is not null)
    {
        <h1 class="display-4">@Model.Name</h1>
        <h6 class="display-6">@Model.Description</h6>
        <img src="@Model.Map" class="olympics-map" alt="Карта олимпиады"/>
        <div class="results-container">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>ПОО</th>
                    <th>Участник</th>
                    @foreach (var step in Model.Steps)
                    {
                        <th>@step.Name</th>
                    }
                    <th>Результат</th>
                </tr>
                </thead>
                @foreach (var participant in participantResultsCollection!)
                {
                    <tr>
                        <th>
                            <img class="sharaga-logo" src="@participant.Logo"/>
                        </th>
                        <th>
                            @participant.Number (@participant.ShortName)
                        </th>
                        @foreach (var step in Model.Steps)
                        {
                            <th>
                                @{
                                    var result = participant.Results.TryGetValue(step, out var value) 
                                        ? value.ToString(CultureInfo.InvariantCulture) 
                                        : string.Empty;
                                }
                                @result
                            </th>
                        }
                        <th>
                            @participant.Points.ToString("0.0", CultureInfo.InvariantCulture)
                        </th>
                    </tr>
                }
            </table>
        </div>
    }
</div>