@model Olimp.Data.Olimp?
@{
    ViewData["Title"] = "Olimp";
    var participants = Model?.Steps
        .SelectMany(step => step.Results)
        .GroupBy(result => result.Participant)
        .OrderBy(results => results.Key.Number);
}

<div class="text-center">
    @if (Model is null)
    {
        <h4>Олимпиады еще не проводились</h4>
    }

    @if (Model is not null)
    {
        <h1 class="display-4">@Model.Name</h1>
        <h6 class="display-6">@Model.Description</h6>
        <img src="@Model.Map" class="olympics-map" alt="Карта олимпиады"/>
        <div class="flex-container">
            @foreach (var participant in participants!)
            {
                <div>
                    <div class="participant-title h4">
                        @* <div class="sharaga-logo-container"> *@
                            <img class="sharaga-logo" src="@participant.Key.EduOrg.Logo"/>
                        @* </div> *@
                        @participant.Key.Number (@participant.Key.EduOrg.ShortName)
                    </div>
                    @foreach (var results in participant)
                    {
                        <div class="result-entry">@results.Step.Name - @results.Score</div>
                    }
                </div>
            }
        </div>
    }
</div>