@model Olimp.Data.Step

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MapCoordsX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MapCoordsX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MapCoordsY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MapCoordsY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Olimp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Olimp.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
