@model Olimp.Data.Step

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Model.Type.ToDisplayName()
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MapCoordsX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MapCoordsX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MapCoordsY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MapCoordsY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Olimp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Olimp.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактирование</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
